<!--<div ng-app="projectIhmApp">
  <script type="text/ng-template" id="partials/notebook-directive.html">
    <ul class="thumbnails">
      <li ng-repeat="note in notes">
        <my-note class="span2 thumbnail" delete="deleteNote(note.id)" note="note">
          <button class="btn btn-large close pull-right" ng-click="deleteNote(note.id)">&times;</button>
          <hr/>
          <p>{{note.title}}</p>
          <p>{{note.contents}}</p>
        </my-note>
      </li>
    </ul>
  </script>

  <div ng-controller="InputCtrl">
    <div class="page-header">
      <h1>AngularJS Sticky Notes</h1>
    </div>
    <div class="form-actions">
      <div class="input-append">
        <form ng-submit="addNote(noteTitle);resetForm();">
          <input class="span3" ng-model="noteTitleName" size="16" type="text" placeholder="Add a name of your note">
          <textarea ng-model="noteTitle" onkeyup="AutoGrowTextArea(this)" class="span3"  size="16" type="text" placeholder="Add a note" autocapitalize="off" autocomplete="off" wrap="soft" autocapitalize="off" tabindex="0"  style="box-sizing: border-box; overflow-y: hidden; overflow-x: auto; padding-right: 20px; height: 208px;padding-bottom: 32px; ">

          </textarea>
          <button class="btn btn-success" type="button"
                  ng-disabled="!noteTitle && !noteTitleName" ng-click="addNote(noteTitle,noteTitleName);resetForm();">add Note
          </button>
        </form>
      </div>
    </div>
    <my-notebook notes="getNotes()" ondelete="deleteNote(id)"></my-notebook>
  </div>
</div>
-->
<div ng-controller="InputCtrl">
  <table>
    <tr dir-paginate="user in users | itemsPerPage: 25" total-items="totalUsers" current-page="pagination.current">
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
    </tr>
  </table>

  <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
</div>
