

<div id="wrapper" style="width: 99%;max-height: 10%">

<!-- Content -->
<div id="content" >
  <div id="content-inner"  >



    <!-- Post -->


      <div class="row">
        <div class="col-lg-8">
          <div ng-controller="MainCtrl">
            <!--<h1>Tasty Paginated Menu</h1>

            <small>this is in "MyController"</small>-->


            <div class="row">
            <div class="col-xs-4">
                <h3>Page now: {{ currentPage }}</h3>
              </div>
              <!--<div class="col-xs-4">
                <label for="search">Search:</label>
                <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
              </div>-->

              <div class="col-xs-4">
                <label for="search" >    items per page:</label>
                <input type="number" min="1" max="100" class="form-control" ng-model="pageSize" style="margin-left:40em">
              </div>
            </div>
            <br>
                <ul style="width: 155%">
                  <li  class="span2 thumbnail" dir-paginate="meal in meals | filter:q | itemsPerPage: pageSize" current-page="currentPage">
                    <article class="is-post is-post-excerpt">
                      <div class="info">
                        <span class="date"><span class="month">{{month(meal.createdAt)}}<span>uary</span></span> <span >{{fuck(meal.createdAt)}}</span><span class="year">, 2013</span></span>
                      </div>

                      <button class="btn btn-large close pull-right" ng-click="delet(meal.id)" value="DELET">&times;

                      <p> {{meal.id}}</p></button> <p>{{meal.title}}</p> <hr/><p style="height: 20em">{{meal.description}}</p>
                      </article>
                  </li>
                </ul>
          </div>


          <div ng-controller="OtherController" >
            <!--<small>this is in "OtherController"</small>-->

            <div class="text-center" style="margin-left:15em">
              <dir-pagination-controls  boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="views/dirPagination.tpl.html"></dir-pagination-controls>
            </div>
          </div>
        </div>
      </div>



    <!-- <div class="container" >
       <body ng-controller="MainCtrl">
       <p>{{userSearch}}</p>
       <ul style="margin-left:-50px">

         <li class="span2 thumbnail" ng-repeat="user in users" >
           <article class="is-post is-post-excerpt" style="width: 90%">
             <p>{{user.createdAt}}</p>
           <div class="info">

             <span class="date"><span class="month">Jan<span>uary</span></span> <span >{{user.createdAt}}</span><span class="year">, 2013</span></span>
           </div>
           <button class="btn btn-large close pull-right" ng-click="delet(user.id)" value="DELET">&times;

             <p> {{user.id}}</p></button> <p>{{user.title}}</p> <hr/><p style="height: 20em">{{user.description}}</p>
             </article>
         </li>
       </ul>
       </body>
     </div>-->




  </div>
</div>

<!-- Sidebar -->
<div id="sidebar">

  <!-- Logo -->
  <div id="logo">
    <h1>STRIPED</h1>
  </div>

  <!-- Nav -->
  <nav id="nav">
    <ul>
      <li class="current_page_item"><a href="#">Latest Post</a></li>
      <li><a href="#/users">Add a new note</a></li>
    </ul>
  </nav>

  <!-- Search -->
  <section class="is-search">
    <form method="post" action="#">
      <input  ng-model="q" id="search"  type="text" class="text" name="search" placeholder="Search" />
      <!--<input ng-model="q" type="text" class="text" name="search"  placeholder="Search" id="search" class="form-control" placeholder="Filter text">-->
    </form>
  </section>

  <!-- Text -->
  <!--<section class="is-text-style1">
    <div class="inner">
      <p>
        <strong>Striped:</strong> A free and fully responsive HTML5 site
        template designed by <a href="http://n33.co/">AJ</a> for <a href="http://html5up.net/">HTML5 up!</a>
      </p>
    </div>
  </section>-->

  <!-- Recent Posts -->
  <section class="is-recent-posts" ng-controller="ThirdController">
    <header>
      <h2>Recent Posts</h2>
    </header>
    <ul>
      <li dir-paginate="drink in drinks | filter:q | itemsPerPage: pageSize" current-page="currentPage" pagination-id="drinksPagination">
             <a  href="#/{{drink.id}}">{{drink.title}}</a>
      </li>
    </ul>
  </section>

  <!-- Recent Comments -->
  <section class="is-recent-comments">
    <header>
      <h2>Recent Comments</h2>
    </header>
    <ul>
      <li>case on <a href="#">Now Full Cyborg</a></li>
      <li>molly on <a href="#">Untitled Post</a></li>
      <li>case on <a href="#">Temporal Flux</a></li>
    </ul>
  </section>

  <!-- Calendar -->

  <!--<section class="is-calendar">
    <div class="inner">
      <pre>Selected date is: <em>{{dt | date:'fullDate' }}</em></pre>
      <h4>Inline</h4>
      <div class="starttime" style="display:inline-block; ">
        <input type="checkbox" value="show" ng-model="checked"/>
        <datepicker id="cal" ng-show="checked" ng-model="dt" min-date="minDate" show-weeks="true" class="well well-sm" custom-class="getDayClass(date, mode)" ></datepicker>
      </div>
    </div>
  </section>-->

  <!-- Copyright -->

  <div id="copyright">
    <p>
      &copy; 2013 An Untitled Site.<br />
      Images: <a href="http://n33.co">n33</a>, <a href="http://fotogrph.com">fotogrph</a><br />
      Design: <a href="http://html5up.net/">HTML5 UP</a>
    </p>
  </div>

</div>

</div>




<!--<div>
  <pre>Selected date is: <em>{{dt | date:'fullDate' }}</em></pre>

  <h4>Inline</h4>
  <div style="display:inline-block; min-height:290px;">


    <datepicker ng-model="dt" min-date="minDate" show-weeks="true" class="well well-sm" custom-class="getDayClass(date, mode)"></datepicker>
  </div>
  </div>
-->
<!--  <h4>Popup</h4>
  <div class="row">
    <div class="col-md-6">
      <p class="input-group">
        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
      </p>
    </div>

    <div class="col-md-6">
      <p class="input-group">
        <input type="date" class="form-control" datepicker-popup ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label>Format:</label> <select class="form-control" ng-model="format" ng-options="f for f in formats"><option></option></select>
    </div>
  </div>

  <hr />
  <button type="button" class="btn btn-sm btn-info" ng-click="today()">Today</button>
  <button type="button" class="btn btn-sm btn-default" ng-click="dt = '2009-08-24'">2009-08-24</button>
  <button type="button" class="btn btn-sm btn-danger" ng-click="clear()">Clear</button>
  <button type="button" class="btn btn-sm btn-default" ng-click="toggleMin()" tooltip="After today restriction">Min date</button>
</div>
-->




<!--</body>
</html>-->


